<div class="bloque">

    <h2><b>Habilidades</b>
        <button type="button" class="btn btn-link">
            <i class="fa-regular fa-pen-to-square"></i>
        </button>
    </h2>
    
    <div class="habilidades">
        <div class="columnas">
            <h3 class="habilidades">Blandas</h3>
            <ul class="items">
            <li> Organización </li>
            <li> Responsabilidad </li>
            <li> Perseverancia </li>
            <li> Adaptabilidad </li>
            </ul>
        </div>

        <div class="columnas">
            <h3 class="habilidades"> Duras </h3>
            <ul class="items">
            <li> CSS, JavaScript, Angular</li> 
            <li> MySQL, SpringBoot</li>   
            <li> Análisis estadístico</li>
            <li> Biología molecular </li>            
            </ul>
        </div>

        <div class="columnas"> 
            <h3 class="habilidades">Idiomas</h3> 
            <ul class="items">
                <li>Español: nativo</li>
                <li>Inglés: avanzado</li>
                <li>Portugués: avanzado</li>
                <li>Alemán: principiante</li>
            </ul>
        </div>
    </div>
</div>
<!--
<div class="ver"> 
    <div>
        <img src="../assets/imagenes/angulalr.jpg"  width="100px">
    </div>
    <div>
        <img src="../assets/imagenes/spring.png" width="100px">
    </div>
</div>
-->
