<div class="acerca" >
    <div class="foto">
        <img src="../assets/imagenes/perfil.png" id="perfil" width="200px" height="185px"> 
        <button type="button" class="btn btn-link">
            <i class="fa-regular fa-pen-to-square"></i>
        </button>
    </div>

    <div class="descripcion">
        <p>Hola! Mi nombre es Noelia y llevo 7+ años dedicándome la investigación en diferentes ramas de la biología y genética. A través de este proyecto estoy iniciando mi camino en el mundo de la programación.
        Busco capacitarme día a día y desarrollar así nuevas habilidades para ampliar mi recorrido porfesional. 

        <button type="button" class="btn btn-link">
            <i class="fa-regular fa-pen-to-square"></i>
        </button>
        </p>
    </div>
</div>
